body{
  background-image: linear-gradient(45deg, #ffffff,  rgb(10,107,124) , rgb(93,200,124),  rgb(10,107,124)
  , rgb(93,107,224), rgb(93,107,124), #ffffff,  rgb(10,107,124) , rgb(93,200,124),  rgb(10,107,124)
  , rgb(93,107,224), rgb(93,107,124));
  background-size: 400% 100%;
  animation: gradientShift 5s ease infinite; 
}

@keyframes gradientShift{
    0% {
        background-position: 0% 50%; 
    }
    100% {
        background-position: 100% 50%;
    }
}

.paiheader{
  display: flex;    
}
.logo{
  width: 80px;
  height: 10vh; 
  border: none;
  border-radius: 10px ; 
}
.espaco{
  visibility: hidden;
  height: 10vh;
  width: 2vw;
}
.barra{
  width: 40vw;
  height: 5vh;
  border: none;
  border-radius: 10px ;
}
.lupa{
  width: 2.5vw;
  height: 5vh; 
}
.botaodalupa{
  width: 4vw;
  height: 7vh; 
  background-color: black;
}
dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: rgb(255, 0, 0);
  color: #fff;
  width: 30vw;
  height: 10vh; 
    
  border: none;
  border-radius: 5xp;
  cursor: pointer;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-button:hover {
  background-color: rgb(255, 0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgb(255, 0, 0);
  z-index: 1;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 10px;
  border-bottom: 1px solid black;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.dropdown-content a {
  text-decoration: none;
  color: #ff0000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content::-webkit-scrollbar {
  width: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.conf{
    height: 10vh;
    width: 10vh;
}
.menu{
    font-size: 5vh;
    justify-items: center;
}
h1{
    font-size: 10vh;
    justify-items: center;
}
img{
    width: 20vh;
    height: 20vh;
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20vh;

}
.containerp{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20vh;

}
.produto{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 2vh;
    margin: 2vh;
}
.divisao{
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
@media (max-width: 575.99px){
  body{
    background-image: linear-gradient(45deg, #ffffff,  rgb(50, 165, 5) , rgb(90, 233, 7),  rgb(3, 88, 17)
    , rgba(73, 184, 45, 0.767), rgb(40, 255, 58), #ffffff,  rgb(50, 165, 5) , rgb(90, 233, 7),  rgb(3, 88, 17)
    , rgb(73, 184, 45, 0.767), rgb(40, 255, 58));
    background-size: 400% 100%;
    animation: gradientShift 5s ease infinite; 
  }

  @keyframes gradientShift{
      0% {
          background-position: 0% 50%; 
      }
      100% {
          background-position: 100% 50%;
      }
  }
  .containerp{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      row-gap: 20vh;

  }
  .container{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      row-gap: 20vh;

  }
  .dropdown-button {
    font-size: 30px;
  }


}
@media (min-width: 576px) and (max-width: 992px){
  body{
    background-image: linear-gradient(45deg, #ffffff,  rgb(255, 208, 0) , rgb(151, 116, 1),  rgb(199, 186, 10)
    , rgb(255, 180, 18), rgba(207, 187, 0, 0.589), #ffffff,  rgb(255, 208, 0) , rgb(151, 116, 1),  rgb(199, 186, 10)
    , rgb(255, 180, 18), rgb(207, 187, 0, 0.589));
    background-size: 400% 100%;
    animation: gradientShift 5s ease infinite; 
  }

  @keyframes gradientShift{
      0% {
          background-position: 0% 50%; 
      }
      100% {
          background-position: 100% 50%;
      }
  }
  .containerp{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr ;
      row-gap: 20vh;
    }
  .container{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr ;
      row-gap: 20vh;
    }
    .dropdown-button {
      font-size: 30px;
    }
}